.container {
	display: grid;
	grid-template-areas:
		"header header"
		"bio bio"
		"values policy";
	gap: 2rem 1rem;
}

.header {
	grid-area: header;
	display: flex;
	flex-direction: row;
}

.header p img {
	align-self: stretch;
}

.header h1 {
	align-self: center;
	justify-self: center;
}

.bio {
	grid-area: bio;
	display: flex;
	flex-direction: column;
}

.bio h2 {
	align-self: center;
}

.values {
	grid-area: values;
	display: flex;
	flex-direction: column;
}

.policy {
	grid-area: policy;
	display: flex;
	flex-direction: column;
	border-left: thin solid blue;
	padding-left: 1rem;
}

.values h3, .policy h3 {
	align-self: center;
}

.video {
	align-self: center;
}

