.container {
	display: grid;
	grid-template-areas:
		"header header"
		"bio bio"
		"values policy";
}

.header {
	grid-area: header;
	display: flex;
	flex-direction: row;
}

.bio {
	grid-area: bio;
	justify-self: center;
}

.values {
	grid-area: values;
}

.policy {
	grid-area: policy;
	border-left: thin solid blue;
}

.values h3, .values img, .policy h3, .policy img {
	text-align: center;
}

